.img-big{
    height: 300px;
    width: 500px;
    margin-bottom: 10px;
}

.img-big__img {
    height: 100%;
    width: 100%;
}

.img-small {
    display: flex;
}

.img-small__img {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
